@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    font-family: "Noto Sans", sans-serif;

    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.contact_information {
    height: 100% !important;
    width: 65%;
    background-color: white;

}

.main_information img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}


.contact_information {
    /* margin-top: 60px; */
}

.main_information {
    width: 21%;
    z-index: 99;
    margin-right: 30px;
    height: 100%;
    margin-left: 6vw;
    /* margin-top: 60px; */

}

.top * {
    text-transform: uppercase !important;
}

.top h1,
.top h5 {
    font-weight: bold;
    opacity: 0.7;
    letter-spacing: 3px;

}

.top h5 {
    text-decoration: underline;
}

.aboutme {
    margin-top: 60px;
}

.aboutme h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    opacity: 0.7;
    font-weight: bold;
}

.aboutme p {
    font-weight: 500;

    line-height: 30px;
    font-size: 12px;
}

.aboutme button {
    background-color: transparent;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px #C2CDE5 solid;

    padding: 13px 30px;
    margin-bottom: 20px;
}

.basic_right {
    border-bottom: 1px #C2CDE5 solid;
    width: 90%;
    padding: 40px;
}

.basic_right h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    opacity: 0.9;
    font-size: 27px;
    ;
}

.basic_right p {
    color: #6E6E78;
    margin-top: 20px;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
}

.basic_contact {
    padding: 30px;
    height: 100%;
}

.basic_contact h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    opacity: 0.9;
    font-size: 15px
}

.basic_contact p {
    line-height: 28px;
    font-size: 13px;
    color: #6E6E78;

}

.basic_contact {
    margin-top: 30px;
}


ol {
    list-style-type: disc;
}

body {
    background-color: #F4F4F4;
}


.basic_contact li {
    margin: 10px 0 !important;
    font-size: 14px;
    color: #6E6E78;

}

.basic_contact p {
    text-transform: none;
}

header {
    display: flex;
    position: relative;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;


}

header a {
    margin-left: 40px;
}

ul li {
    display: inline;


}


li a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

ul li {
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 0 15px;
    border-right: 1px solid black;
}

ul li:last-child {
    border-right: none;
}

.container {
    margin-top: 60px;
}

.main_information h1 {
    margin-top: 20px !important;
    margin-bottom: 20px;
}

.main_information hr {
    margin-top: 30px;
}

.icons {
    display: flex;
    width: 30%;
    align-items: center;
    gap: 13px;
    color: #68686b;
    margin-left: 30px;
    margin-bottom: 100px;
    margin-top: 20px;
}

.statistic {
    padding: 20px;
}

.statistic {
    margin-top: 30px;
}

.statistic h1 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 30px;
}

.single_stats {
    display: flex;
    margin-left: 40px;
    width: 80%;
    padding: 14px;
    justify-content: space-between;
    border-top: 1px rgba(0, 0, 0, 0.173) solid;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.664);
}

.single_stats:nth-child(1),
.single_stats:nth-child(3),
.single_stats:nth-child(5),
.single_stats:nth-child(7) {
    background-color: #F8F8F8;
}

.statistic2 {
    margin-bottom: 30px;
}

.contact_me {
    width: 40vw;
}

.contact_me form {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    background-color: #9f9b9b;
    gap: 20px;
    border-radius: 12px;
    padding: 20px;
}

.contact_me form p {
    color: white;
    font-size: 18px;
    margin: 0;
}

.contact_me form input,
.contact_me form textarea {
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
}

.contact_me form input {
    height: 40px;
}

.contact_me form textarea {
    height: 20vh;
    resize: vertical;
}

.contact_me button {
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: rgb(49, 49, 112);
    color: white;
    cursor: pointer;
}